.hello {
    width: 100%;
    height: 100vh;
    /* background: var(--black); */
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hello span {
    display: block;
    height: 300px;
    font-size: 50px;
    text-align: center;
    line-height: 300px;
}
.hello__replay {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    padding: 4px;
    margin-top: 20px;
}
.hello__replay:hover {
    text-decoration: underline;
}
.none {
    opacity: 0;
    visibility: hidden;
    top: 57%;
}

