.introduce {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.introduce__card {
    width: 380px;
    height: 650px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px var(--light-grey);
    border-radius: 20px;
}
/* card 내부 */
.card__item {
    margin-bottom: 30px;
}
.card__item span {
    display: block;
}
/* left card first-child */
.about-me .card__item:first-child {
    display: flex;
}
.item__me {
    width: 120px;
    margin-right: 20px;
}
.item__me img {
    width: 100%;
    border-radius: 10px;
}
.item__name {
    font-size: var(--xxlarge);
    margin-bottom: 10px;
    font-weight: 700;
}
.item__birth {
    line-height: 20px;
    font-size: var(--small);
    font-weight: 300;
}
/* item 공통 */
.item__key {
    margin-bottom: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: var(--large);
}
.item__value {
    font-weight: 300;
    line-height: 20px;
    font-size: var(--small);
}

/* right card item */
table {
    border-collapse: separate;
    border-spacing: 0 10px;
}
.year {
    display: block;
    margin-right: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;

}
.content {
    font-weight: 300;
    font-size: var(--small);
}
.item__logo-wrap-title {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 12px;
    font-size: var(--small);
    color: var(--white);
    background-color: var(--grey);
    border-radius: 4px;
    padding: 2px;
}
.icon {
    font-size: var(--small);
    margin: 0 8px;
}
.item__logo-wrap {
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}
.item__logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}
.item__logo img {
    width: 100%;
}
