.header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    border-bottom: 1px solid var(--grey);
}
.header__ul {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgba(100, 100, 100, 0.5); */
}
.header__li a {
    padding: 4px;
    box-sizing: border-box;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--grey);
    transition: 0.5s;
}
.header__li a:hover {
    color: var(--black);
}